@import '../../../shared/variables/variables.scss';

.user {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-top: 0.5rem;

  .login {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
  }

  .change-btn {
    margin-left: auto;
    margin-right: 0.25rem;
    font-size: 1.6rem;
    color: $color-icon;
    cursor: pointer;
      
      &:hover {
        color: $color-hover-second;
      }
  }
}
