<footer>
  <div class="footer-container">
    <div class="team">
      <a href="https://github.com/slavaider/" target="_blank" rel="noopener noreferrer">
        <div class="team-github">
          <img class="team-github__img" src="./assets/img/github.svg" width="32" alt="logo">
          Vyacheslav Otinov
        </div>
      </a>
      <a href="https://github.com/VitaliSantalau/" target="_blank" rel="noopener noreferrer">
        <div class="team-github">
          <img class="team-github__img" src="./assets/img/github.svg" width="32" alt="logo">
          Vitali Santalau
        </div>
      </a>
      <a href="https://github.com/anna-left/" target="_blank" rel="noopener noreferrer">
        <div class="team-github">
          <img class="team-github__img" src="./assets/img/github.svg" width="32" alt="logo">
          Anna Rybakova
        </div>
      </a>
    </div>
    <div class="year">2022</div>
    <div class="cours">
      <a class="rss-link" href="https://rs.school/js/" target="_blank" rel="noopener noreferrer">
        <img class="rss-logo" src="./assets/img/rs_school_js.svg"alt="logo">
      </a>
    </div>
  </div>
</footer>
