<h1>start page</h1>


<div>
  ехнические требования

    Локализация (минимум 2 языка). В приложении должна быть возможность смены языка по нажатию на ползунок в header
    семантическая вёрстка
    работа приложения проверяется в браузере Google Chrome последней версии
    разрешается(но не очень рекомендуется) использовать jQuery только в качестве подключаемой зависимости для UI библиотек. Использование jQuery в основном коде приложения не допускается.
    формы должны содержать валидацию на соответствие ожидаемому типу (email, password и тд)
    можно использовать css фреймворки, любые js библиотеки, любые библиотеки компонент, html и css препроцессоры
    необходимо использовать бэкенд для корректной работы приложения и осуществления взаимодействия между несколькими пользователями
    exclamation запрещено копировать код других студентов, демо, примеров, которые приводятся в задании. Этот запрет касается html, css, js кода. Можно использовать небольшие фрагменты кода со Stack Overflow, других самостоятельно найденных источников в интернете, за исключением github-репозиториев студентов курса. exclamation Возле использованного чужого фрагмента кода в комментарии указывается ссылка на источник. exclamation

Требования к оформлению приложения

    Вы не ограничены в творчестве, но ограничены возможностями пользователя
    качественное приложение характеризуется проработанностью деталей, вниманием к типографике (не больше трёх шрифтов на странице, размер шрифта не меньше 14 рх, оптимальная контрастность шрифта и фона), тщательно подобранным контентом
    вёрстка адаптивная. Минимальная ширина страницы, при которой проверяется корректность отображения приложения - 320рх
    интерактивность элементов, с которыми пользователи могут взаимодействовать, изменение внешнего вида самого элемента и состояния курсора при наведении, использование разных стилей для активного и неактивного состояния элемента, плавные анимации
    единство стилей всех страниц приложения - одинаковые шрифты, стили кнопок, отступы, одинаковые элементы на всех страницах приложения имеют одинаковый внешний вид и расположение. Цвет элементов и фоновые изображения могут отличаться. В этом случае цвета используются из одной палитры, а фоновые изображения из одной коллекции.

Описание функциональных блоков

Перед описанием функционала приложения нужно определить некоторые понятия:

    Пользователь(член команды) может ставить задачи, выполнять задачи, просматривать задачи, удалять собственные задачи, быть ответственным (виноватым) в чужих задачах.

Welcome page(route)

    На приветственной странице должны отображаться общие сведения о команде, проекте, курсе.
    В верхнем правом углу должны быть доступны 2 кнопки log in и sign up.
    При наличии неистёкшего токена пользователь автоматически должен быть перенаправлен на главный роут приложения.
    При истечении срока жизни токена - пользователь автоматически должен быть перенаправлен на "Welcome page".
    Нажатие на кнопку Login / Sign up автоматически перенаправляет нас на роут с формой для Login / Sign up.

Header

    На всех роутах доступных при наличии токена должен присутствовать sticky header ( момент, когда он становится sticky (при наличии на странице скролла) должен быть анимирован (например его цвет может потемнеть или высота слегка уменьшится)).
    В хэдере должны быть кнопки: edit profile, logout, create new board, тогглер локализации. Edit profile должен отправлять нас на роут с формой для edit profile. Требования к форме такие же как и ко всем формам в приложении. Должна быть кнопка удаления юзера. В случае этого действия => "confirmation modal" => пользователя должно разлогинить и пользователь должен быть удалён из базы данных.
    create new board - открывает модальное окно с формой для создания борды.
    Требования к форме такие же как и ко всем формам в приложении.

Footer

    footer со ссылками на гитхабы авторов приложения, год создания приложения, логотип курса со ссылкой на курс. footer отображается на всех страницах приложения.

Login / Sign up

    Поля форм должны быть реализованы в соответствии с api backend приложения. Должна быть реализована валидация.
    Ошибки со стороны BE - (Not found, unhandled rejection, etc) должны отображаться пользователю в user-friendly формате (toast, pop-up или что-то подобное, на ваше усмотрение).
    При успешном логине пользователь должен быть перенаправлен на "Main route"

Main route

    Отображает борды списком.
    Борды отображаются с маленьким превью из доступной информации (title). По клику на элемент переходим на board item (Board route). Также должна присутствовать кнопка для удаления борды.
    При попытке удаления борды мы должны получить confirmation modal в котором должны подтвердить серёзность наших намерений. confirmation modal должен быть универсальным компонентом (одним на всё приложение).
    глобальный поиск(опционально): поиск таска по номеру таска, названию, пользователям, которые в нём участвуют и по тексту описания задачи.

Board route

    Должны присутствовать кнопки для создания колонки.
    Если к борде привязана хотябы одна колонка - отображаем также и кнопку создания таски.
    Для создания колонки и таска используется форма отображаемая в модальном окне.
    Требования к модальному окну и формам описаны ранее.
    Таск не может быть НЕ привязан к колонке.
    Мы можем создать несколько колонок. Мы можем создать неограниченное количество тасок. При переполнении количеством тасок колонки - скролл внутри колонки.
    Если все колонки не помещаются на экран, страница может иметь горизонтальный скролл.
    С помощью drag-n-drop мы можем менять колонки местами.
    С помощью drag-n-drop мы можем менять очерёдность тасок в рамках колонки.
    С помощью drag-n-drop мы можем менять принадлежность таски к колонке.
    exclamation Рекомендуется использовать существующую библиотеку для реализации функционала drag-n-drop exclamation.
    По клику на таск открываем модальное окно с формой edit task. Требования к форме и окну как везде.
    На таске должна присутствовать кнопка delete task. При нажатии: confirmation modal -> удаление.
    Вверху колонки должен быть title. При нажатии на него он из текста должен превращаться в input, слева от которого будут кнопки cancel и submit. После ввода текста в input и нажатия submit - title колонки должен поменяться.
    На колонке должна присутствовать кнопка delete. По нажатию - confirmation modal - при апруве - удаление.
    Должна быть кнопка "вернуться" для возвращения к main route
    ВНИМАНИЕ! Удаление колонки автоматически удаляет привязанные к ней таски из BD.

Как сабмитить задание

    Тимлид записывает номер команды в таблицу. Ссылка на таблицу будет размещена в анонсах.
    Ссылку на pull request в rs app сабмитит только тимлид exclamation
    Убедитесь, что pull request доступен для проверки exclamation. Для этого откройте ссылку, которую сабмитите в rs app, в режиме инкогнито браузера
    Если задание не засабмитить до дедлайна, оно не попадёт на распределение при кросс-чеке и за него не будут выставлены баллы

Критерии оценивания

Максимальный балл за задание 780

Из них:

    630 за кроссчек
    100 выставляет ментор (если нет у команды ментора, тогда жюри) за работу над проектом.
    50 баллов ментор (если нет у команды ментора, тогда жюри) может добавить тому кто реализовал CI/CD. Одному из команды.

Cross-check

Для удобства проверки необходимо записать и разместить на YouTube небольшое (5-7 мин) видео для проверяющих с объяснением, как реализован каждый из перечисленных в критериях оценки пункт. Ссылку на видео добавить в pull-request.

Оценка приложения происходит согласно требованиям в RS-App. В комментарии к оценке необходимо указать, какие пункты не выполнены или выполнены частично.
Welcome route - max 70 баллов

    На приветственной странице должны отображаться общие сведения о команде, проекте, курсе. 10 баллов
    В верхнем правом углу должны быть доступны 2 кнопки log in и sign up. 10 баллов
    При наличии неистёкшего токена пользователь автоматически должен быть перенаправлен на главный роут приложения. 20 баллов
    При истечении срока жизни токена - пользователь автоматически должен быть перенаправлен на "Welcome page". 20 баллов
    ехнические требования

    Локализация (минимум 2 языка). В приложении должна быть возможность смены языка по нажатию на ползунок в header
    семантическая вёрстка
    работа приложения проверяется в браузере Google Chrome последней версии
    разрешается(но не очень рекомендуется) использовать jQuery только в качестве подключаемой зависимости для UI библиотек. Использование jQuery в основном коде приложения не допускается.
    формы должны содержать валидацию на соответствие ожидаемому типу (email, password и тд)
    можно использовать css фреймворки, любые js библиотеки, любые библиотеки компонент, html и css препроцессоры
    необходимо использовать бэкенд для корректной работы приложения и осуществления взаимодействия между несколькими пользователями
    exclamation запрещено копировать код других студентов, демо, примеров, которые приводятся в задании. Этот запрет касается html, css, js кода. Можно использовать небольшие фрагменты кода со Stack Overflow, других самостоятельно найденных источников в интернете, за исключением github-репозиториев студентов курса. exclamation Возле использованного чужого фрагмента кода в комментарии указывается ссылка на источник. exclamation

Требования к оформлению приложения

    Вы не ограничены в творчестве, но ограничены возможностями пользователя
    качественное приложение характеризуется проработанностью деталей, вниманием к типографике (не больше трёх шрифтов на странице, размер шрифта не меньше 14 рх, оптимальная контрастность шрифта и фона), тщательно подобранным контентом
    вёрстка адаптивная. Минимальная ширина страницы, при которой проверяется корректность отображения приложения - 320рх
    интерактивность элементов, с которыми пользователи могут взаимодействовать, изменение внешнего вида самого элемента и состояния курсора при наведении, использование разных стилей для активного и неактивного состояния элемента, плавные анимации
    единство стилей всех страниц приложения - одинаковые шрифты, стили кнопок, отступы, одинаковые элементы на всех страницах приложения имеют одинаковый внешний вид и расположение. Цвет элементов и фоновые изображения могут отличаться. В этом случае цвета используются из одной палитры, а фоновые изображения из одной коллекции.

Описание функциональных блоков

Перед описанием функционала приложения нужно определить некоторые понятия:

    Пользователь(член команды) может ставить задачи, выполнять задачи, просматривать задачи, удалять собственные задачи, быть ответственным (виноватым) в чужих задачах.

Welcome page(route)

    На приветственной странице должны отображаться общие сведения о команде, проекте, курсе.
    В верхнем правом углу должны быть доступны 2 кнопки log in и sign up.
    При наличии неистёкшего токена пользователь автоматически должен быть перенаправлен на главный роут приложения.
    При истечении срока жизни токена - пользователь автоматически должен быть перенаправлен на "Welcome page".
    Нажатие на кнопку Login / Sign up автоматически перенаправляет нас на роут с формой для Login / Sign up.

Header

    На всех роутах доступных при наличии токена должен присутствовать sticky header ( момент, когда он становится sticky (при наличии на странице скролла) должен быть анимирован (например его цвет может потемнеть или высота слегка уменьшится)).
    В хэдере должны быть кнопки: edit profile, logout, create new board, тогглер локализации. Edit profile должен отправлять нас на роут с формой для edit profile. Требования к форме такие же как и ко всем формам в приложении. Должна быть кнопка удаления юзера. В случае этого действия => "confirmation modal" => пользователя должно разлогинить и пользователь должен быть удалён из базы данных.
    create new board - открывает модальное окно с формой для создания борды.
    Требования к форме такие же как и ко всем формам в приложении.

Footer

    footer со ссылками на гитхабы авторов приложения, год создания приложения, логотип курса со ссылкой на курс. footer отображается на всех страницах приложения.

Login / Sign up

    Поля форм должны быть реализованы в соответствии с api backend приложения. Должна быть реализована валидация.
    Ошибки со стороны BE - (Not found, unhandled rejection, etc) должны отображаться пользователю в user-friendly формате (toast, pop-up или что-то подобное, на ваше усмотрение).
    При успешном логине пользователь должен быть перенаправлен на "Main route"

Main route

    Отображает борды списком.
    Борды отображаются с маленьким превью из доступной информации (title). По клику на элемент переходим на board item (Board route). Также должна присутствовать кнопка для удаления борды.
    При попытке удаления борды мы должны получить confirmation modal в котором должны подтвердить серёзность наших намерений. confirmation modal должен быть универсальным компонентом (одним на всё приложение).
    глобальный поиск(опционально): поиск таска по номеру таска, названию, пользователям, которые в нём участвуют и по тексту описания задачи.

Board route

    Должны присутствовать кнопки для создания колонки.
    Если к борде привязана хотябы одна колонка - отображаем также и кнопку создания таски.
    Для создания колонки и таска используется форма отображаемая в модальном окне.
    Требования к модальному окну и формам описаны ранее.
    Таск не может быть НЕ привязан к колонке.
    Мы можем создать несколько колонок. Мы можем создать неограниченное количество тасок. При переполнении количеством тасок колонки - скролл внутри колонки.
    Если все колонки не помещаются на экран, страница может иметь горизонтальный скролл.
    С помощью drag-n-drop мы можем менять колонки местами.
    С помощью drag-n-drop мы можем менять очерёдность тасок в рамках колонки.
    С помощью drag-n-drop мы можем менять принадлежность таски к колонке.
    exclamation Рекомендуется использовать существующую библиотеку для реализации функционала drag-n-drop exclamation.
    По клику на таск открываем модальное окно с формой edit task. Требования к форме и окну как везде.
    На таске должна присутствовать кнопка delete task. При нажатии: confirmation modal -> удаление.
    Вверху колонки должен быть title. При нажатии на него он из текста должен превращаться в input, слева от которого будут кнопки cancel и submit. После ввода текста в input и нажатия submit - title колонки должен поменяться.
    На колонке должна присутствовать кнопка delete. По нажатию - confirmation modal - при апруве - удаление.
    Должна быть кнопка "вернуться" для возвращения к main route
    ВНИМАНИЕ! Удаление колонки автоматически удаляет привязанные к ней таски из BD.

Как сабмитить задание

    Тимлид записывает номер команды в таблицу. Ссылка на таблицу будет размещена в анонсах.
    Ссылку на pull request в rs app сабмитит только тимлид exclamation
    Убедитесь, что pull request доступен для проверки exclamation. Для этого откройте ссылку, которую сабмитите в rs app, в режиме инкогнито браузера
    Если задание не засабмитить до дедлайна, оно не попадёт на распределение при кросс-чеке и за него не будут выставлены баллы

Критерии оценивания

Максимальный балл за задание 780

Из них:

    630 за кроссчек
    100 выставляет ментор (если нет у команды ментора, тогда жюри) за работу над проектом.
    50 баллов ментор (если нет у команды ментора, тогда жюри) может добавить тому кто реализовал CI/CD. Одному из команды.

Cross-check

Для удобства проверки необходимо записать и разместить на YouTube небольшое (5-7 мин) видео для проверяющих с объяснением, как реализован каждый из перечисленных в критериях оценки пункт. Ссылку на видео добавить в pull-request.

Оценка приложения происходит согласно требованиям в RS-App. В комментарии к оценке необходимо указать, какие пункты не выполнены или выполнены частично.
Welcome route - max 70 баллов

    На приветственной странице должны отображаться общие сведения о команде, проекте, курсе. 10 баллов
    В верхнем правом углу должны быть доступны 2 кнопки log in и sign up. 10 баллов
    При наличии неистёкшего токена пользователь автоматически должен быть перенаправлен на главный роут приложения. 20 баллов
    При истечении срока жизни токена - пользователь автоматически должен быть перенаправлен на "Welcome page". 20 баллов
    ехнические требования

    Локализация (минимум 2 языка). В приложении должна быть возможность смены языка по нажатию на ползунок в header
    семантическая вёрстка
    работа приложения проверяется в браузере Google Chrome последней версии
    разрешается(но не очень рекомендуется) использовать jQuery только в качестве подключаемой зависимости для UI библиотек. Использование jQuery в основном коде приложения не допускается.
    формы должны содержать валидацию на соответствие ожидаемому типу (email, password и тд)
    можно использовать css фреймворки, любые js библиотеки, любые библиотеки компонент, html и css препроцессоры
    необходимо использовать бэкенд для корректной работы приложения и осуществления взаимодействия между несколькими пользователями
    exclamation запрещено копировать код других студентов, демо, примеров, которые приводятся в задании. Этот запрет касается html, css, js кода. Можно использовать небольшие фрагменты кода со Stack Overflow, других самостоятельно найденных источников в интернете, за исключением github-репозиториев студентов курса. exclamation Возле использованного чужого фрагмента кода в комментарии указывается ссылка на источник. exclamation

Требования к оформлению приложения

    Вы не ограничены в творчестве, но ограничены возможностями пользователя
    качественное приложение характеризуется проработанностью деталей, вниманием к типографике (не больше трёх шрифтов на странице, размер шрифта не меньше 14 рх, оптимальная контрастность шрифта и фона), тщательно подобранным контентом
    вёрстка адаптивная. Минимальная ширина страницы, при которой проверяется корректность отображения приложения - 320рх
    интерактивность элементов, с которыми пользователи могут взаимодействовать, изменение внешнего вида самого элемента и состояния курсора при наведении, использование разных стилей для активного и неактивного состояния элемента, плавные анимации
    единство стилей всех страниц приложения - одинаковые шрифты, стили кнопок, отступы, одинаковые элементы на всех страницах приложения имеют одинаковый внешний вид и расположение. Цвет элементов и фоновые изображения могут отличаться. В этом случае цвета используются из одной палитры, а фоновые изображения из одной коллекции.

Описание функциональных блоков

Перед описанием функционала приложения нужно определить некоторые понятия:

    Пользователь(член команды) может ставить задачи, выполнять задачи, просматривать задачи, удалять собственные задачи, быть ответственным (виноватым) в чужих задачах.

Welcome page(route)

    На приветственной странице должны отображаться общие сведения о команде, проекте, курсе.
    В верхнем правом углу должны быть доступны 2 кнопки log in и sign up.
    При наличии неистёкшего токена пользователь автоматически должен быть перенаправлен на главный роут приложения.
    При истечении срока жизни токена - пользователь автоматически должен быть перенаправлен на "Welcome page".
    Нажатие на кнопку Login / Sign up автоматически перенаправляет нас на роут с формой для Login / Sign up.

Header

    На всех роутах доступных при наличии токена должен присутствовать sticky header ( момент, когда он становится sticky (при наличии на странице скролла) должен быть анимирован (например его цвет может потемнеть или высота слегка уменьшится)).
    В хэдере должны быть кнопки: edit profile, logout, create new board, тогглер локализации. Edit profile должен отправлять нас на роут с формой для edit profile. Требования к форме такие же как и ко всем формам в приложении. Должна быть кнопка удаления юзера. В случае этого действия => "confirmation modal" => пользователя должно разлогинить и пользователь должен быть удалён из базы данных.
    create new board - открывает модальное окно с формой для создания борды.
    Требования к форме такие же как и ко всем формам в приложении.

Footer

    footer со ссылками на гитхабы авторов приложения, год создания приложения, логотип курса со ссылкой на курс. footer отображается на всех страницах приложения.

Login / Sign up

    Поля форм должны быть реализованы в соответствии с api backend приложения. Должна быть реализована валидация.
    Ошибки со стороны BE - (Not found, unhandled rejection, etc) должны отображаться пользователю в user-friendly формате (toast, pop-up или что-то подобное, на ваше усмотрение).
    При успешном логине пользователь должен быть перенаправлен на "Main route"

Main route

    Отображает борды списком.
    Борды отображаются с маленьким превью из доступной информации (title). По клику на элемент переходим на board item (Board route). Также должна присутствовать кнопка для удаления борды.
    При попытке удаления борды мы должны получить confirmation modal в котором должны подтвердить серёзность наших намерений. confirmation modal должен быть универсальным компонентом (одним на всё приложение).
    глобальный поиск(опционально): поиск таска по номеру таска, названию, пользователям, которые в нём участвуют и по тексту описания задачи.

Board route

    Должны присутствовать кнопки для создания колонки.
    Если к борде привязана хотябы одна колонка - отображаем также и кнопку создания таски.
    Для создания колонки и таска используется форма отображаемая в модальном окне.
    Требования к модальному окну и формам описаны ранее.
    Таск не может быть НЕ привязан к колонке.
    Мы можем создать несколько колонок. Мы можем создать неограниченное количество тасок. При переполнении количеством тасок колонки - скролл внутри колонки.
    Если все колонки не помещаются на экран, страница может иметь горизонтальный скролл.
    С помощью drag-n-drop мы можем менять колонки местами.
    С помощью drag-n-drop мы можем менять очерёдность тасок в рамках колонки.
    С помощью drag-n-drop мы можем менять принадлежность таски к колонке.
    exclamation Рекомендуется использовать существующую библиотеку для реализации функционала drag-n-drop exclamation.
    По клику на таск открываем модальное окно с формой edit task. Требования к форме и окну как везде.
    На таске должна присутствовать кнопка delete task. При нажатии: confirmation modal -> удаление.
    Вверху колонки должен быть title. При нажатии на него он из текста должен превращаться в input, слева от которого будут кнопки cancel и submit. После ввода текста в input и нажатия submit - title колонки должен поменяться.
    На колонке должна присутствовать кнопка delete. По нажатию - confirmation modal - при апруве - удаление.
    Должна быть кнопка "вернуться" для возвращения к main route
    ВНИМАНИЕ! Удаление колонки автоматически удаляет привязанные к ней таски из BD.

Как сабмитить задание

    Тимлид записывает номер команды в таблицу. Ссылка на таблицу будет размещена в анонсах.
    Ссылку на pull request в rs app сабмитит только тимлид exclamation
    Убедитесь, что pull request доступен для проверки exclamation. Для этого откройте ссылку, которую сабмитите в rs app, в режиме инкогнито браузера
    Если задание не засабмитить до дедлайна, оно не попадёт на распределение при кросс-чеке и за него не будут выставлены баллы

Критерии оценивания

Максимальный балл за задание 780

Из них:

    630 за кроссчек
    100 выставляет ментор (если нет у команды ментора, тогда жюри) за работу над проектом.
    50 баллов ментор (если нет у команды ментора, тогда жюри) может добавить тому кто реализовал CI/CD. Одному из команды.

Cross-check

Для удобства проверки необходимо записать и разместить на YouTube небольшое (5-7 мин) видео для проверяющих с объяснением, как реализован каждый из перечисленных в критериях оценки пункт. Ссылку на видео добавить в pull-request.

Оценка приложения происходит согласно требованиям в RS-App. В комментарии к оценке необходимо указать, какие пункты не выполнены или выполнены частично.
Welcome route - max 70 баллов

    На приветственной странице должны отображаться общие сведения о команде, проекте, курсе. 10 баллов
    В верхнем правом углу должны быть доступны 2 кнопки log in и sign up. 10 баллов
    При наличии неистёкшего токена пользователь автоматически должен быть перенаправлен на главный роут приложения. 20 баллов
    При истечении срока жизни токена - пользователь автоматически должен быть перенаправлен на "Welcome page". 20 баллов

</div>
