<div class="container">
  <form
    class="form"
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
  >
    <p class="title">
      Вход
    </p>
    <mat-form-field>
      <mat-label>
        Введите логин
      </mat-label>
      <input matInput formControlName="login" required>
      <mat-error *ngIf="login?.invalid">
        введите логин
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Введите пароль
      </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.invalid">
        введите пароль
      </mat-error>
    </mat-form-field>
    <div class="controls">
      <button mat-raised-button [disabled]="!loginForm.valid" type="submit">
        Вход
      </button>
      <div class="flex space-between">
        Нет аккаунта? 
        <a routerLink="/auth/register">
          Регистрация
        </a>
      </div>
    </div>
  </form>
</div>
