@import '../../../shared/variables/variables.scss';

.board {
  display: flex;
  align-items: center;
  background-color: $color-bg-board;
}

.route-btn {
  display: flex;
  align-items: center;
  min-width: 20rem;
  height: 2rem;
  text-decoration: none;
  color: inherit;

  .mat-icon {
    font-size: 1.8rem;
  }

  .title {
    margin: 0 1rem;
    font-size: 1.4rem;
  }
}

.delete-btn {
  border: 1px solid  transparent;
  transition: 0.2s ease-in-out;
}


.delete-btn:hover {
  border: 1px solid $color-hover-first;
  color: $color-hover-first;
}
