:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  font-size: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 30rem;

  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 21px;
  }

  .controls {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
  }
}

@media (max-width: 600px) {

  .form {
    row-gap: 10px;
    .controls {
      row-gap: 10px;
    }
  }
}

@media (max-width: 480px) {

  .form {
    .controls {
      align-items: center;
      row-gap: 10px;
      flex-direction: column;
      .mat-raised-button {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 420px) {

  .cdk-overlay-pane {
    max-width: 95vw;
  }

}
