<div class="container white-background">
  <form
    class="form"
    [formGroup]="editForm"
    (ngSubmit)="submit()"
  >
  <p class="title">
    {{ "userPage.title" | i18next }}
    <!-- Edit profile -->
  </p>
  <mat-form-field>
    <mat-label>
      {{ "userPage.namePlaceholder" | i18next }}
      <!-- Enter your name -->
    </mat-label>
    <input matInput formControlName="name" required>
    <mat-error *ngIf="name?.invalid">
      {{ "userPage.nameMissing" | i18next }}
      <!-- Please enter a name -->
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{ "userPage.loginPlaceholder" | i18next }}
        <!-- Enter your login -->
      </mat-label>
      <input matInput formControlName="login" required>
      <mat-error *ngIf="login?.invalid">
        {{ "userPage.loginMissing" | i18next }}
        <!-- Please enter a login -->
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{ "userPage.passwordPlaceholder" | i18next }}
      </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.invalid">
        {{ "userPage.passwordMissing" | i18next }}
      </mat-error>
    </mat-form-field>
    <mat-dialog-actions align="end" class="controls">
      <button mat-raised-button mat-dialog-close>
        {{ "userPage.cancel" | i18next }}
      </button>
      <button mat-raised-button mat-dialog-close (click)="deleteUser()">
        {{ "userPage.delete" | i18next }}
      </button>
      <button mat-raised-button [mat-dialog-close]="true" [disabled]="!editForm.valid" type="submit">
        {{ "userPage.save" | i18next }}
      </button>
    </mat-dialog-actions>
  </form>
</div>

