$color-hover-first: #ff3f3a;
$color-hover-second: #3f51b5;
$color-btn: linear-gradient(55deg,#ff3f3a,#f75e05);
$color-bg: #f4efed;
$color-bg-board: #f4efed;
$color-bg-sticky: #efe3e1;
$color-bg-placeholder: #fdfdfd;
$color-text-second: #ff3f3a;
$color-text-third: #ffffff;
$color-footer-bg: #1e212c;
$color-icon: #808080;
$color-bg-scroll: #c0b6b5;
$footer-header-height: 72px;
$footer-header-height-mobile: 48px;
