$color-hover-first: #ff3f3a;
$color-btn: linear-gradient(55deg,#ff3f3a,#f75e05);
$color-bg: #f2d6cf;
$color-bg-sticky: #f2d6cf;
$color-text-second: #ff3f3a;
$color-text-third: #ffffff;
$color-footer-bg: #1e212c;
