<div class="column-header">
  <div *ngIf="!isShowField" class="title" (click)="show()">{{ column.title }}</div>

  <form *ngIf="isShowField" class="form" [formGroup]="editForm" (ngSubmit)="submit(column)">
    <mat-form-field>
      <input class="input-field" matInput formControlName="title">
      <mat-error *ngIf="title?.hasError('required')">
        {{ "columnTitle.title" | i18next }}
      </mat-error>
      <button matPrefix (click)="hide()">
        <mat-icon>highlight_off</mat-icon>
      </button>
      <button type="submit" matPrefix [disabled]="!editForm.valid">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>

