<h2 mat-dialog-title>Редактировать задачу</h2>
<div mat-dialog-content>
  <form class="form" [formGroup]="editForm" (ngSubmit)="submit()">
    
    <mat-form-field>
      <mat-label>Заголовок</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="title?.hasError('required')">
        Введите заголовок
      </mat-error>
    </mat-form-field>
    

    <mat-form-field>
      <mat-label>Описание</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="description?.hasError('required')">
        Добавьте описание
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-raised-button mat-dialog-close>Отмена</button>
      <button mat-raised-button [mat-dialog-close]="true" type="submit" [disabled]="!editForm.valid">Редактировать</button>
    </mat-dialog-actions>

  </form>
</div>
