@import '../../../shared/variables/variables.scss';

:host {
  flex: 1;
}

.board-page {
  position: fixed;
  top: 7vh; // 7 - header
  bottom: 6vh; // 6 - footer
  width: 100%;
  padding-bottom: 1rem;

    .container {
      width: 100%;
      height: 100%;

      .actions {
        display: flex;
        column-gap: 1rem;

        .search-field {
          font-size: 1.2rem;
          width: 15rem;
          outline: none;
          border: none;
          border-bottom: 1px solid;
        }
      }
  }
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .group-wrapper {
    display: flex;
    column-gap: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    padding-bottom: 0.5rem;
    overflow-x: auto;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  max-width: 18rem;
  min-width: 18rem;
  padding: 0.5rem;
  background-color: $color-bg-board;
  overflow-y: auto;
  border-radius: 4px;
  cursor: move;

  .column-header {
    display: flex;
    width: 100%;

    .delete-column-btn {
      font-size: rem;
      color: $color-icon;

      .mat-icon {
        font-size: 2rem;
      }
    }

    .delete-column-btn:hover {
      color: $color-hover-first;
    }

    .create-task-btn {
      margin-bottom: auto;
    }
  }
}

.tasks-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  min-height: 8rem;
  width: 100%;
  overflow: auto;
}

.task {
  .edit-task-btn {
    margin-left: auto;
  }

  .edit-task-btn:hover {
    color: $color-hover-second;
  }

  .delete-task-btn:hover {
    color: $color-hover-first;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.group-wrapper.cdk-drop-list-dragging .column:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column:last-child {
  border: none;
}

.column-placeholder {
  width: 18rem;
  background: $color-bg-placeholder;
  border: dotted 1px $color-icon;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
