$light-violet: #cd8eff;
$dark-violet: #8759ab;
$black-violet: #040305;

.welcome {
  display: flex;
  flex-direction: column;
  caret-color: transparent;
  margin: 1vmin;
  background-color: $light-violet;
  padding: 5vmin;
}

.project-container {
  display: flex;
}

.welcome-buttons {
  margin-bottom: 1vmin;
  display: flex;
  justify-content: flex-end;
  column-gap: 1vw;
  position: absolute;
  top: -4vmin;
  right: 0;
  button {
    width: 10vmin;
    height: 3vmin;
  }
  button:hover {
    background-color: $dark-violet;
  }
}
.project {
  display: flex;
  justify-content: center;
  column-gap: 1vmin;
}

.project-description {
  width: 60%;
  padding: 5%;
  h2 {
    font-size: 3vw;
  }
  p {
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 3vw;
  }
}

.rss-link {
  width: 320px;
  height: 120px;
}
rss-link:hover {
  color: $dark-violet;
}

.rss-logo {
  width: 20vw;
}

// .rss-logo:hover{
//   fill: var(--light-violet);
// }

.project-img {
  width: 40%;
  max-width: 650px;
  position: relative;
}

.cours {
  width: 40%;
  max-width: 650px;
  margin-top: 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img__svg {
  width: 100%;
}

.team {
  max-width: 70vw;
  grid-gap: 5vmin;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3,12vw);
  padding-left: 0;
  // margin: 0 auto;
  // margin-left: 5vw;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: 1vw;
  }
}

.team-container {
  margin-top: 1vmin;
  width: 60%;
  display: flex;
  justify-content: center;
}

.team-member__img {
  position: relative;
  width: 12vw;
  height: 18vw;
  max-height: 320px;
}

.team-member__person{
  height: 100%;
  padding-top: 1vh;
}

.team-github {
  font-size: 1vw;
  display: flex;
  align-items: center;
  column-gap: 1vw;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

team-github:hover {
  color: $dark-violet;
}

.team-github__img {
  width: 2vw;
}
