/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*,*::before,*:after{
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.container{
  max-width: 1920px;
  padding: 2rem;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.flex.space-between{
  justify-content: space-between;
}

.flex.align-center{
  align-items: center;
}

.flex.end{
  justify-content: flex-end;
}

// img{
//   min-height: 100%;
// }

.white-background {
  background-color: white;
}

.full-width{
  width: 100%;
}

.align-left{
  align-self: flex-start;
}

.note-error {
  color: #ffffff;
  background-color: #ff0000;

  * {
    color: #ffffff;
  }
}

.note-success {
  color: #ffffff;
  background-color: #008000;

  * {
    color: #ffffff;
  }
}

.confirm-dialog {
  width: 30rem;
  height: auto;
}

@media (max-width: 600px) {

  .container{
    padding: 1rem;
  }

}
