<header mat-toolbar [ngClass]="{'mat-elevation-z5' : isSticky, 'sticky' : isSticky}">
  <div class="flex align-center header-container">
     <div class="header-logo">
       <img src="./assets/img/logo_144088.png" width="48" alt="logo">
    </div>
     <div class="actions">

      <button *ngIf="isLogged" mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/user">
          <mat-icon>manage_accounts</mat-icon>
          <span>Профиль</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Выйти</span>
        </button>
      </mat-menu>

      <a mat-raised-button routerLink="/auth/login">Войти</a>
      <a mat-raised-button routerLink="/auth/register">Регистрация</a>
     </div>
  </div>
</header>
