<div class="welcome">
  <section class="start-section">
    <div class="container">
      <div class="content">
        <h1 class="text">
          Система <br> управления <br> проектами
        </h1>
        <button *ngIf="!isLogged" class="action-btn" routerLink="/auth/login">войти</button>
        <button *ngIf="isLogged" class="action-btn" routerLink="/">продолжить</button>
      </div>
    </div>
  </section>
  <section class="desc-section">
    <div class="container">
      <div class="content">
        <h2>Почему мы?</h2>
        <ul>
          <li>- современные инструменты</li>
          <li>- современные методы</li>
          <li>- специальные ресурсы и процедуры, используемых для управления проектом</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="team-section">
    <div class="container">
      <h2 class="title">Команда</h2>
      <div class="team">
        <div class="team-member">
          <img class="image" src="./assets/img/person1.svg">
          <p class="name">Vyacheslav Otinov</p>
          <p class="role">team leader</p>
        </div>
        <div class="team-member">
          <img class="image" src="./assets/img/person2.svg">
          <p class="name">Vitali Santalau</p>
          <p class="role">software developer</p>
        </div>
        <div class="team-member">
          <img class="image" src="./assets/img/person3.svg">
          <p class="name">Anna Rybakova</p>
          <p class="role">software developer</p>
        </div>
      </div>
      <p class="course">RS School, Angular 2022Q1</p>
    </div>
  </section>
</div>
