<mat-card class="welcome">
  <div class="project">
    <mat-card class="project-description">
      <h2>Система управления проектами</h2>
      <p> - набор инструментов, методов, методологий, ресурсов и процедур, используемых для управления проектом.</p>

    </mat-card>
    <mat-card class="project-img">
      <!-- <div class="welcome-buttons">
        <button mat-raised-button color="primary">log in</button>
        <button mat-raised-button color="primary">sign up</button>
      </div> -->
      <img class="project-img__svg" src="../../../../assets/img/main.svg">
    </mat-card>
  </div>
  <div class="project">
  <mat-card class="team-container">
    <ul class="team">
      <li class="team-member">
        <div class="team-member__img">
          <img class="team-member__person" src="../../../../assets/img/person1.svg">
        </div>
        <a href="https://github.com/slavaider/" target="_blank" rel="noopener noreferrer">
          <div class="team-github">
            <img class="team-github__img" src="../../../../assets/img/github.svg" width="32" alt="logo">
            Vyacheslav Otinov
          </div>
        </a>
        <p>description</p>
      </li>

      <li class="team-member">
        <div class="team-member__img">
          <img class="team-member__person" src="../../../../assets/img/person2.svg">
        </div>
        <a href="https://github.com/VitaliSantalau/" target="_blank" rel="noopener noreferrer">
          <div class="team-github">
            <img class="team-github__img" src="../../../../assets/img/github.svg" width="32" alt="logo">
            Vitali Santalau
          </div>
        </a>
        <p>description</p>
      </li>

      <li class="team-member">
        <div class="team-member__img">
          <img class="team-member__person" src="../../../../assets/img/person3.svg">
        </div>
        <a href="https://github.com/anna-left/" target="_blank" rel="noopener noreferrer">
          <div class="team-github">
            <img class="team-github__img" src="../../../../assets/img/github.svg" width="32" alt="logo">
            Anna Rybakova
          </div>
        </a>
        <p>description</p>
      </li>
    </ul>
  </mat-card>
  <mat-card class="cours">
    <div>
      <a class="rss-link" href="https://rs.school/js/" target="_blank" rel="noopener noreferrer">
        <img class="rss-logo" src="../../../../assets/img/rs_school_js.svg" width="160" alt="logo">
      </a>
    </div>
  </mat-card>
</div>
</mat-card>

